body {
  background: url("https://besthqwallpapers.com/Uploads/19-7-2019/99919/dark-blue-lines-4k-material-design-creative-geometric-shapes.jpg") no-repeat center center fixed;
  background-size: cover;
}

h1 {
  text-align: center;
  font-family: 'arial';
}

h2 {
  color: white;
}

label {
  font-family: 'arial';
  font-weight: bold;
  color: white;
}

th {
  color: white;
}

.nav-brand {

  width: 100px;
  margin-right: 600px;
}

.alerta {
  padding: 20px;
  background-color: #f7ef05;
  color: rgb(0, 0, 0);
  animation: alertaAnimada 0.9s ease-in-out;
  margin-top: 5rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

@keyframes alertaAnimada {
  0% {
    transform: translateY(-1000%);
  }

  100% {
    transform: translateY(0);
  }
}

@media only screen and (max-width: 450px) {
  .alerta {
    width: 260px;
    margin-bottom: 2rem;
  }
  .seleccionar{
    width: 10rem;
  }
  
 

}